APP_NAME=Switch Admin Platform
API_V1_STR=/api/v1

POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=switchdb

SECRET_KEY=CHANGE_THIS_SECRET_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

SSH_SECRET_KEY=CHANGE_THIS_SSH_ENCRYPTION_KEY
FRONTEND_ORIGIN=http://localhost:5173
